footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: teal;
  padding: 2em;
}
.footer-top{
  background: #2d4958;  
}
.footer-middle{
   background: teal;
  padding-top: 2em;
  color: white;
  
}
