<div class="container">
	<form>
		<div class="col-sm-6 form-group">
			<label for="fullName"> Full Name</label> <input ngModel
				name="fullName" id="fullName" #fullName type="text"
				class="form-control">
		</div>
		<div class="col-sm-6 form-group">
			<label for="email">Email</label> <input ngModel name="email"
				id="email" #email type="text" class="form-control">
		</div>
		<div class="col-sm-12 form-group">
			<label for="message">Message</label> 
			<textarea ngModel name="message" rows="5" id="message" #message type="text" class="form-control"></textarea>
		</div>
		<div class="col-sm-1">
			<button class="btn btn-info"
			(click)="updateMember(firstName.value,surname.value,nationalId.value,dob.value);">Send</button>
		</div>
		
	</form>
</div>
