<div class="container">
	<h1 class="text-success">{{member$?.firstName}} {{member$?.surname}}</h1>
  <tabset>
    <tab heading="Policy Member">
    	<br>
		<div class="col-md-2">
			{{member$?.firstName}}
		</div>
	</tab>
    <tab (select)="loadDependants()" heading="Dependants">
		<br>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Dependant ID</th>
					<th>Name</th>
					<th>Surname</th>
					<th>National ID</th>
					<th>Date of Birth</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let dependant of dependants; let i = index">
					<td >{{dependant.dependantId}}</td>
					<td >{{dependant.name}}</td>
					<td >{{dependant.surname}}</td>
					<td >{{dependant.nationalId}}</td>
					<td >{{dependant.dob}}</td>
					<td >{{dependant.relationShipType}}</td>
					<!-- <td ><button (click)="editMember(member, i);memberEdit.show()"  class="btn btn-success">Edit</button></td>
					<td ><button type="button" [routerLink]="['/view-member',member.fbfMemberId]" class="btn btn-primary">View</button></td> -->
				</tr>
			</tbody>
		</table>
	
	</tab>
    
  </tabset>
</div>
